{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--  
    Document Title
    =============================================
    -->
    <title>User Register</title>
    <!--  
    Favicons
    =============================================
    -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{% static 'main/assets/images/favicons/apple-icon-57x57.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{% static 'main/assets/images/favicons/apple-icon-60x60.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{% static 'main/assets/images/favicons/apple-icon-72x72.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'main/assets/images/favicons/apple-icon-76x76.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{% static 'main/assets/images/favicons/apple-icon-114x114.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{% static 'main/assets/images/favicons/apple-icon-120x120.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'main/assets/images/favicons/apple-icon-144x144.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{% static 'main/assets/images/favicons/apple-icon-152x152.png' %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'main/assets/images/favicons/apple-icon-180x180.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{% static 'main/assets/images/favicons/android-icon-192x192.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'main/assets/images/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{% static 'main/assets/images/favicons/favicon-96x96.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'main/assets/images/favicons/favicon-16x16.png' %}"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="manifest" href="{% static 'main/manifest.json' %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="{% static 'main/assets/images/favicons/ms-icon-144x144.png' %}"
    />
    <meta name="theme-color" content="#ffffff" />
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link
      href="{% static 'main/assets/lib/bootstrap/dist/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <!-- Template specific stylesheets-->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Volkhov:400i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/animate.css/animate.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/components-font-awesome/css/font-awesome.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/et-line-font/et-line-font.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/flexslider/flexslider.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/magnific-popup/dist/magnific-popup.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/assets/lib/simple-text-rotator/simpletextrotator.css' %}"
      rel="stylesheet"
    />
    <!-- Main stylesheet and color file-->
    <link href="{% static 'main/assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'main/assets/css/feed.css' %}" rel="stylesheet" />

    <link
      id="color-scheme"
      href="{% static 'main/assets/css/colors/default.css' %}"
      rel="stylesheet"
    />
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <div class="myfo">
      <div class="my">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav
        class="navbar navbar-custom navbar-fixed-top navbar-transparent"
        role="navigation"
      >
        <div class="container">
          <div class="navbar-header">
            <button
              class="navbar-toggle"
              type="button"
              data-toggle="collapse"
              data-target="#custom-collapse"
            >
              <span class="sr-only">Toggle navigation</span
              ><span class="icon-bar"></span><span class="icon-bar"></span
              ><span class="icon-bar"></span></button
            ><a class="navbar-brand" href="#">Farmer Bot</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="navbar-brand" href="{% url 'home' %}">Home</a>
              </li>
              <li class="dropdown">
                <a class="navbar-brand" href="{% url 'user_login' %}">UserLogin</a>
              </li>
              <li class="dropdown">
                <a class="navbar-brand" href="{% url 'user_register' %}">Register</a>
              </li>
              <li class="dropdown">
                <a class="navbar-brand" href="{% url 'admin_login' %}">AdminLogin</a>
              </li>
              <li class="dropdown">
                <a class="navbar-brand" href="{% url 'about' %}">AboutUs</a>
              </li>
              <li class="dropdown">
                <a class="navbar-brand" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section
        class="home-section home-full-height"
        style="
          background-image: linear-gradient(
            to bottom right,
            #111e25 0%,
            #111 100%
          );
        "
      >
        <form action="" name='myform'  onsubmit='return validate();' enctype="multipart/form-data" method="post"> 
           {% csrf_token %}
          <input
            id="input-1"
            type="text"
            placeholder="Enter Full Name"
            name="fullname"
         style="width: 900px;"
 
            autofocus
          />
          <label for="input-1">
            <span class="label-text">Full Name</span>
            <span class="nav-dot"></span>
            <div class="signup-button-trigger" style="width: 200px">
              Register
            </div>
          </label>
          <input
            id="input-2"
            type="text"
            placeholder="Enter User Name"
            name="username"
         style="width: 900px;"
 
          />
          <label for="input-2">
            <span class="label-text">Username</span>
            <span class="nav-dot"></span>
          </label>
          <input
            id="input-3"
            type="email"
            placeholder="Enter Email ID"
            name="email"
         style="width: 900px;"
 
          />
          <label for="input-3">
            <span class="label-text">Email</span>
            <span class="nav-dot"></span>
          </label>
          <input
            id="input-4"
            type="text"
            placeholder="Enter Contact"
            name="contact"
         style="width: 900px;"
 
          />
          <label for="input-4">
            <span class="label-text">Contact</span>
            <span class="nav-dot"></span>
          </label>
          <input id="input-5"
         style="width: 900px;"
            type="text" placeholder="Enter City" name="city" />
          <label for="input-5">
            <span class="label-text">City</span>
            <span class="nav-dot"></span>
          </label>
          <input id="input-6"
         style="width: 900px;"
            type="text" placeholder="Enter State" name="state" />
          <label for="input-6">
            <span class="label-text">State</span>
            <span class="nav-dot"></span>
          </label>

          <input id="input-7"
         style="width: 900px;"
            type="file" name="pic" />
          <label for="input-7">
            <span class="label-text">Picture</span>
            <span class="nav-dot"></span>
          </label>
          <input
            id="input-8"
            type="password"
         style="width: 900px;"
 
            placeholder="Enter Password"
            name="password"
          />
          <label for="input-8">
            <span class="label-text">Password</span>
            <span class="nav-dot"></span>
          </label>
          <button type="submit" class="btnn" style="width: 200px">Regiter</button>
          <p class="tip">Press Tab</p>
          <div class="signup-button" style="width: 200px">Register</div>
        </form>
      </section>

      <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
      </div>
    </main>
      </div>
    </div>
    
    <!--  
    JavaScripts
    =============================================
    -->
     
  <script type="text/javascript">
    function validate(){
      var fullname = document.myform.fullname
      var username = document.myform.username

      var email = document.myform.email
      var emailpattern = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([com\co\.\in])+$/; // to validate email id
      
      var contact = document.myform.contact
      var city = document.myform.city
      var state = document.myform.state


     
      var letter = /[a-z]/;
      var upper = /[A-Z]/;
      var number = /[0-9]/; 
      var pic = document.myform.pic
      var password = document.myform.password
  
      if (fullname.value.length <= 0) {
        alert("Fullname can't be blank");
        fullname.focus();
        return false;
        
        }
    
      if (username.value.length <= 0) {
      alert("Username can't be blank");
      username.focus();
      return false;
      
      }
      if (email.value.length <= 0) {
      alert("Enter your email id");
      email.focus();
      return false;
      
      }
      if(!email.value.match(emailpattern)){
      alert("Invalid Email format"); 
      email.focus();            
      return false;
      }
      
     
      if (contact.value.length <= 0) {
      alert("Enter your mobile number");
      contact.focus();
      return false;
      
      }
      if(isNaN(contact.value)){
      alert("Invalid Mobile number");
      return false;
      }
      if(contact.value.length=="" || contact.value.length!=10){
      alert("Invalid Mobile number");
      return false;
      }
      if (city.value.length <= 0) {
        alert("Enter Your city");
        city.focus();
        return false;
        
        }
        if (state.value.length <= 0) {
          alert("Enter Your state");
          state.focus();
          return false;
          
          }
      
      if (pic.value.length <= 0 ) {
      alert("upload  profile image");
      pic.focus();
      return false;
      
      }
      if (password.value.length <= 0) {
      alert("Enter your password");
      password.focus();
      return false;
      
      }
      if (!letter.test(password.value)) {
      alert("Please make sure password includes a lowercase letter.");
      password.focus();
      return false;
      
      }
      if (!upper.test(password.value)) {
      alert("Please make sure password includes a uppercase letter.");
      password.focus();
      return false;
      
      }
      if (!number.test(password.value)) {
      alert("Please make sure password Includes a Digit.");
      password.focus();
      return false;
      
      }
      return true;
    }
      
    </script>
 
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>swal({
            title: "Success!",
            text: "{{message}}",
            icon: "success",
            button: "OK",
        });
    </script>
    
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>swal({
            title: "Warning :)",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
            title: "info :)",
            text: "{{message}}",
            icon: "info",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>swal({
            title: "error :)",
            text: "{{message}}",
            icon: "error",
            button: "OK",
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    
    <script src="{% static 'main/assets/lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'main/assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/assets/lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'main/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'main/assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'main/assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'main/assets/lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'main/assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/assets/lib/smoothscroll.js' %}"></script>
    <script src="{% static 'main/assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'main/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'main/assets/js/plugins.js' %}"></script>
    <script src="{% static 'main/assets/js/main.js' %}"></script>
  </body>
</html>
