{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static '/admin/assets/img/apple-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'admin/assets/img/favicon.png' %}"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Admin All User's</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      href="{% static 'admin/assets/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'admin/assets/css/now-ui-dashboard.css' %}"
      rel="stylesheet"
    />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'admin/assets/demo/demo.css' %}" rel="stylesheet" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    // The function below will start the confirmation dialog
    function confirmAction() {
      let confirmAction = confirm("Are you sure to execute this action?");
      if (confirmAction) {
        alert("Action successfully executed");
      } else {
        alert("Action canceled");
      }
    }
  </script>
  </head>

  <body class="">
    <div class="wrapper">
      <div class="sidebar" data-color="orange">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
        <div class="logo">
          <a href="#" class="simple-text logo-normal ml-5"> Admin </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li>
              <a href="{% url 'admin_dashboard' %}">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li>
              <a href="{% url 'admin_pending' %}">
                <i class="now-ui-icons users_single-02"></i>
                <p>Pending user's</p>
              </a>
            </li>
            <li class="active">
              <a href="{% url 'admin_all_user' %}">
                <i class="now-ui-icons users_circle-08"></i>
                <p>All user's</p>
              </a>
            </li>
            <li>
              <a href="{% url 'admin_user_profile' %}">
                <i class="now-ui-icons users_single-02"></i>
                <p>user's profile</p>
              </a>
            </li>
            <li>
              <a href="{% url 'admin_feedback' %}">
                <i class="now-ui-icons emoticons_satisfied"></i>
                <p>feedback</p>
              </a>
            </li>
            <li>
              <a href="{% url 'admin_feedback_graph' %}">
                <i class="now-ui-icons business_chart-bar-32"></i>
                <p>feedback graph</p>
              </a>
            </li>
            <li>
              <a href="{% url 'home' %}">
                <i class="now-ui-icons media-1_button-power"></i>
                <p>LogOut</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary fixed-top"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="#pablo"></a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navigation"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navigation"
            ></div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">All User</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th>Profile</th>
                        <th>FullName</th>
                        <th>Email ID</th>
                        <th>Status</th>
                        <th class="text-right">Action</th>
                      </thead>
                      <tbody>
                        {% for i in restrict %}
                        <tr>
                          <td>
                            <img
                              src="media/{{i.user_image}}"
                              style="
                                height: 80px;
                                width: 80px;
                                border-radius: 7px;
                              "
                              alt=""
                            />
                          </td>
                          <td>{{i.user_fullname}}</td>
                          <td>{{i.user_email}}</td>
                          <td><h4> {% if i.user_status == 'Accepted' %}
                            <label class="badge bg-success text-white d-flex">Approved</label> 
                            {% elif i.user_status == 'Pending' %}
                            <label class="badge bg-info text-white d-flex">Pending</label> 

                            {% else %}
                             <label class="badge bg-warning text-white d-flex">Restricted</label>
                            {% endif %}</h4></td>
                          <td class="text-right">
                            <a href="{% url 'change_status_users' i.user_id %}" class="btn bg-info"
                              ><i class="now-ui-icons travel_info"></i>&nbsp;
                              Change Status</a
                            >
                            
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination ml-2">
                          {% if restrict.has_previous %}
                              <!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li> -->
                              <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ restrict.previous_page_number }}">Previous</a></li>
                          {% endif %}
                          {% if restrict.has_next %}
                          <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ restrict.next_page_number }}">Next</a></li>
                          <!-- <li class="page-item"><a class="page-link" href="?page={{ r.paginator.num_pages }}">Last &raquo;</a></li> -->
                          {% endif %}
                      </ul>
                      Page {{ restrict.number }} of {{ restrict.paginator.num_pages }}.
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav>
              <ul>
                <li>
                  <a href="https://www.creative-tim.com"> Creative Tim </a>
                </li>
                <li>
                  <a href="http://presentation.creative-tim.com"> About Us </a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com"> Blog </a>
                </li>
              </ul>
            </nav>
            <div class="copyright">
              &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              , Designed by
              <a href="https://codebook.in/" target="_blank">B.L.Harsha Vardhan</a
              >. Coded by
              <a href="https://codebook.in/" target="_blank"
                >Codebook.</a
              >.
            </div>
          </div>
        </footer>
      </div>
    </div>
    
  </body>
  <!--   Core JS Files   -->
  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <script>swal({
          title: "Success!",
          text: "{{message}}",
          icon: "success",
          button: "OK",
      });
  </script>
  
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <script>swal({
          title: "Warning :)",
          text: "{{message}}",
          icon: "warning",
          button: "OK",
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
  <script>swal({
          title: "info :)",
          text: "{{message}}",
          icon: "info",
          button: "OK",
      });
  </script>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <script>swal({
          title: "error :)",
          text: "{{message}}",
          icon: "error",
          button: "OK",
      });
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}
  
  <script src="{% static 'admin/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'admin/assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'admin/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'admin/assets/js/now-ui-dashboard.js' %}"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'admin/assets/demo/demo.js' %}"></script>
</html>
